* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.secondary-div {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

#timesUp, 
#questionsHolder, 
#dividingLine, 
#showIfCorrect, 
#userFinalScoreData, 
#highScores   {
  display: none;
}

#QuizContentArea {
 text-align: center;
}

button {
  margin: 20px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

#questionPrompt {
  font-weight: bold;
  font-size: x-large;
}

#quizDirections {
  padding-top: 10px;
}