* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#timesUp {
  display: none;
}

#questionsHolder {
  display: none;
}

#dividingLine {
  display: none;
}

#showIfCorrect {
  display: none;
}

#userFinalScoreData {
  display: none;
}

#highScores {
  display: none;
}