* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 30px;
      display: flex;
      flex-direction: column;
  }

  header {
      display: flex;
      justify-content: space-around;
      /* list-style: none; */
      padding: 20px;
      border: 5px solid black;
      
  }

  #viewScores{
    background-color: rgb(102, 4, 4);
    border-radius: 10px;
    font-size: 30px;
    color: white;
  }

  #viewScores:hover {
    background-color: rgb(247, 89, 89);
    color: black;
  }

  #parent {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    height: 300px;
    justify-content: center;
    margin-top: 25px;
    border: 5px solid black;
  }